<!-- Component: v2/wvu-backpage-header -->
{% define_component component %}
  {
    "baseName": "backpage",
    "needsARIALabel": true,
    "defaultComponentClasses": "pb-5 ",
    "defaultItemClasses": "mb-3 mb-md-0",
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "px-2 py-1 wvu-shout h6 text-white mb-0",
    "defaultItemBodyClasses": null,
    "defaultItemButtonClasses": "iowan-old-style",
    "mainTagClasses": null
  }
{% enddefine_component %}

{% capture component_content %}

  <div class="container wvu-z-index-content">
    <div class="row">

      <div class="col-md-8 mr-md-auto">
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main Content</span>{% endif %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
        <div id="EmployeePermits" class="tabcontent" style="display: block;">
          <h3>Employee Permits</h3>
          
        </div>
        
        <div id="StudentPermits" class="tabcontent" style="display: none;">
          <h3>Student Permits</h3>
          
        </div>
        {% endeditable_region_block %}

        {% render "utilities/wvu-slots" forContext: component.region_names.main %}
      </div>
    </div>
  </div><!-- /.container -->
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
