<!-- Component: wvu-action-hero -->
{%- define_component component %}
  {
    "baseName": "action-hero-card-left",
    "defaultComponentClasses": "bg-dark wvu-bg-position-center wvu-bg-size-cover wvu-bg-vignetting",
    "defaultHeaderClasses": "display-2 wvu-shout",
    "mainTagClasses": "jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-background-size-cover"
  }
{%- enddefine_component %}

{% capture component_content %}
  <div class="container position-relative wvu-z-index-content">
    <div class="row">
      {% capture block_content %}
        {% comment %}<!-- This is where you can add utility classes that will apply to the hero’s heading. -->{% endcomment %}
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple" %}</pre>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
          </small>
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          <span class="d-inline-block badge badge-primary mb-1">Header</span>
        {% endif %}
        {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
        <h2 id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">{% editable_region name: component.region_names.header, scope: component.scope, placeholder: 'Action Hero Headline' %}</h2>
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main Content</span>{% endif %}
        {% comment %}<!-- Editable region for main content. -->{% endcomment %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p class="lead pb-2">This is a simple hero unit, a simple jumbotron-style component for calling
          extra attention to featured content or information.</p><a class="btn btn-wvu-blue btn-lg" href="#" role="button">Call to Action</a><p class="mt-2">Here is a <a href="#" class="text-wvu-accent--dark-blue">Secondary Call to Action</a></p>
        {% endeditable_region_block %}
      {% endcapture %}

      {% if component.full_width_or_backpage? %}
        <div class='col-md-6'><div class="bg-wvu-gold pt-1"></div><div class="py-4 px-4 bg-white">{{ block_content }}</div></div>
      {% else %}
        {{ block_content }}
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
