<!-- Component: blog-index -->
{%- define_component component %}
  {
    "baseName": "blog-index",
    "defaultComponentClasses": null,
    "defaultHeaderClasses": null,
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    {% comment %}<!-- NOTE: Set how many blog posts you'd like to show per page. Eg: default="10" -->{% endcomment %}

    {% if edit_mode or page.content[component.region_names.main] != blank %}
      <div class="mb-4">
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Intro</span>{% endif %}
        {% editable_region_block name: component.region_names.main %}<p class="lead">Intro text.</p>{% endeditable_region_block %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-8">
        {%- assign articles = blog.articles | filter_articles: page: params.page, limit: component.limit, tags: params.tags, tags_match: params.tags_match, year: params.year, month: params.month, day: params.day %}

        {% assign blogIsHidden = page.data.blog_index_hide_author %}

        {% if articles.size > 0 %}
          {% capture article_list_content %}
            {% for article in articles.all %}
              <article class="mb-4" itemscope="" itemtype="http://schema.org/BlogPosting">
                <div class="row">
                  {% if article.data.thumbnail_url != blank %}
                    <div class="col-md-3">
                      <a aria-hidden="true" href="{{ article.url }}"><img src="{{ article.data.thumbnail_url }}" alt="{{ article.data.thumbnail_alt }}" /></a>
                    </div>
                  {% endif %}
                  <div class="col-md-12">
                    <strong><h2 itemprop="headline"><a class="text-wvu-blue newsletter-link" href="{{ article.url }}">{{ article.name }}<span aria-hidden="true" class="fas text-wvu-accent--burnt-orange fa-chevron-circle-right ml-2 small"></span></a></h2></strong>

                    <p class="small d-block">
                      <time itemprop="datePublished" datetime="{{ article.published_at | date_iso8601 }}">{{ article.published_at | date: '%A, %B %d, %Y' | default: 'Not yet published' }}</time>
                    </p> <!-- /.wvu-article__meta -->

                    <div class="mb-2" itemprop="articleBody">
                      {{ article.content['wvu-blog-article-1__main'] | select_html: css_selector: 'p', limit: 1 }}
                    </div> <!-- /.wvu-article__body -->
                    
                  </div>
                </div>
              </article> <!-- /.wvu-article -->
            {% endfor %}
          {% endcapture %}

          <div class="wvu-articles">
            {{ article_list_content }}
          </div> <!-- /.wvu-articles -->

          {% assign pagination = articles | blog_pagination %}
          {% if pagination.total_pages > 1 %}
            <nav aria-label="Page navigation">
              <ul class="pl-0">
              <li style="list-style:none;" class="mb-2 page-item {% if pagination.is_last_page %}disabled{% endif %}"><a class="page-link" href="{{ pagination.next_page_url }}">&larr; Older Articles</a></li>
              <li style="list-style:none;" class="page-item {% if pagination.is_first_page %}disabled{% endif %}"><a class="page-link" href="{{ pagination.prev_page_url }}">Newer Articles &rarr;</a></li>
              </ul>
            </nav>
          {% endif %}
        {% else %}
          <p>No blog posts found. Try again later, perhaps?</p>
        {% endif %}
      </div>

      {% render "components/wvu-sidebar" component: component %}
    </div>
  </div> <!-- /.container -->
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
