<!-- Component: wvu-action-hero-two-column -->
{%- define_component component %}
  {
    "baseName": "action-hero-two-column",
    "defaultComponentClasses": "bg-wvu-neutral--black text-white wvu-bg-vignetting",
    "defaultHeaderClasses": "display-2 wvu-shout",
    "mainTagClasses": "position-relative py-5 wvu-background-size-cover"
  }
{%- enddefine_component %}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    <div class="row justify-content-center my-5">
      <div class="col-md-5 mr-md-1 text-md-right p-3">
        {% comment %}<!-- This is where you can add utility classes that will apply to the hero’s heading. -->{% endcomment %}
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses %}</pre>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
          </small>
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          <span class="d-inline-block badge badge-primary mb-1">Header</span>
        {% endif %}
        {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
        <h2 id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">{% editable_region_block name: component.region_names.header, scope: component.scope %}<span class="clearfix">It Starts</span> <span class="text-wvu-gold">Now</span>{% endeditable_region_block %}</h2>
      </div>
      <div class="col-md-5 ml-md-1 p-3">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main Content</span>{% endif %}
        {% comment %}<!-- Editable region for main content. -->{% endcomment %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p class="h3 mb-3 helvetica-neue-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary mb-1">Call to Action</a>
        {% endeditable_region_block %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
