<!-- Component: Profiles -->
{% define_component component %}
  {
    "baseName": "profiles",
    "defaultComponentClasses": null,
    "defaultHeaderClasses": null,
    "mainTagClasses": "py-5"
  }
{% enddefine_component %}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    {% if edit_mode or page.content[component.region_names.header] !=  blank %}
      <div class="mb-4">
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header, scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-3 wvu-shout">Profiles Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        {% endeditable_region_block %}
      </div>
    {% endif %}
    <div class="col-md-12">
      <div class="row">
        {% assign profiles = site.pages | filter_pages: order: component.loopBy, sort: component.loopOrder, tags: component.itemLabels, tags_match: component.loopTagsMatch, hidden: component.showHidden %}
        {% for profile in profiles.all %}
  
          <div class="col-md-3 mb-3">
            <h3 class="iowan-old-style-black-italic mb-1">{{ profile.alternate_name | default: profile.name }}</h3>
            {% if profile.content['wvu-backpage-header-1__subhead'] != blank %}
              <p class="helvetica-neue-light mb-0">
                {{ profile.content['wvu-backpage-header-1__subhead'] }}
              </p>
            {% endif %}
            {% if profile.content['wvu-profile-1__phone'] != blank %}
              <p class="mb-0 small d-block">
                  <a href="tel:{{ profile.content['wvu-profile-1__phone'] }}" class="fas fa-phone"> {{ profile.content['wvu-profile-1__phone'] }}</a>
              </p>
            {% endif %}
            {% if profile.content['wvu-profile-1__email'] != blank %}
              <p class="mb-0">
                  <a href="mailto:{{ profile.content['wvu-profile-1__email'] }}" class="fas fa-envelope"> {{ profile.content['wvu-profile-1__email'] }}</a>
              </p>
            {% endif %}
            {% if profile.content['wvu-profile-1__office'] != blank %}
              <p class="mb-0">
                  {% if profile.content['wvu-profile-1__office-url'] != blank %}
                    <a href="tel:{{ profile.content['wvu-profile-1__office-url'] }}" class="fas fa-building"> {{ profile.content['wvu-profile-1__office'] }}</a>
                  {% else %}
                    <span class="fas fa-building"> {{ profile.content['wvu-profile-1__office']}}</span>
                  {% endif %}
              </p>
            {% endif %}
            <p class="mt-2">
              {% if profile.data.description != blank %}{{ profile.data.description }}{% endif %}
            </p>

          </div>

        {% endfor %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}

{% render "includes/wvu-component-footer" component: component %}