<!-- Component: wvu-hero -->
{% define_component component %}
  {
    "baseName": "hero",
    "defaultComponentClasses": "bg-dark text-white wvu-bg-position-center wvu-bg-size-cover wvu-bg-vignetting",
    "defaultHeaderClasses": "display-1 wvu-shout wvu-slash",
    "mainTagClasses": "jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-bg-size-cover"
  }
{% enddefine_component %}


{% capture component_content %}
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5{% if page.data.hero_text_alignment == '1' %} justify-content-end{% endif %}">
      <div class="col col-md-6 {% if component.align == 'right' %}ml-md-auto{% elsif component.align == 'middle' %}mx-md-auto{% endif %}">
        {% comment %}<!-- This is where you can add utility classes that will apply to the hero’s heading. -->{% endcomment %}
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple" %}</pre>
            {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
          </small>
        {% endif %}
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
        {% comment %}<!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
        <h1 id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
          {% comment %}<!-- Use the editable region name for th header section of the hero, which you defined above. -->{% endcomment %}
          {% editable_region name: component.region_names.header, scope: component.scope, placeholder="It Starts Now" %}
        </h1>
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main Content</span>{% endif %}
        {% comment %}<!-- Editable region for main content. -->{% endcomment %}
        {% editable_region_block name: component.region_names.main scope: component.scope %}
          <p class="lead py-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Call to Action</a>
        {% endeditable_region_block %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}

{% render "includes/wvu-component-footer" component: component %}
