{% define_component component %}
  {
    "baseName": "profile",
    "needsARIALabel": true,
    "defaultComponentClasses": "py-5",
    "defaultItemClasses": "mb-3 mb-md-0",
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "px-2 py-1 wvu-shout h6 text-white mb-0",
    "defaultItemBodyClasses": null,
    "defaultItemButtonClasses": "iowan-old-style",
    "mainTagClasses": null
  }
{% enddefine_component %}

{% parse_json rNames %}
  {
    "main": "wvu-{{ component.name }}__main",
    "profileTitle": "wvu-{{ component.name }}__profile-title",
    "phone": "wvu-{{ component.name }}__phone",
    "email": "wvu-{{ component.name }}__email",
    "office": "wvu-{{ component.name }}__office",
    "officeURL": "wvu-{{ component.name }}__office-url",
    "website": "wvu-{{ component.name }}__website",
    "quote": "wvu-{{ component.name }}__quote",
    "headerLabel": "wvu-{{ component.name }}__header-label"
  }
{% endparse_json %}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 mb-1">
        <div class="col-8 col-xl-10 mr-auto">
          <div class="row">
            <div class="col-xl-10 mr-xl-auto">
              {% if page.data.thumbnail_url_sq != blank %}
                <img class="rounded-circle shadow" src="{{ page.data.thumbnail_url_sq }}" alt="{{ page.data.thumbnail_alt }}" />
              {% elsif page.data.thumbnail_url != blank %}
                <img class="shadow" src="{{ page.data.thumbnail_url }}" alt="{{ page.data.thumbnail_alt }}" />
              {% endif %}
            </div>
          </div>
          <p class="my-3">
            {% render "includes/wvu-contact-info" component: component, regionNames: rNames %}
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8">
        {% if page.data.backpage_header == '1' %}
          {% if edit_mode or page.content['wvu-backpage-header-1__label'] != blank %}
            {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header Label</span>{% endif %}
            <p class="helvetica-neue-light h5 text-uppercase">
              {% editable_region name: "wvu-backpage-header-1__label" scope: component.scope, type: "simple" %}
            </p>
          {% endif %}
          {% comment %}<!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section. -->{% endcomment %}
          <h1 id="{{ component.name }}-label">{{ page.alternate_name | default: page.name }}</h1>
          {% if edit_mode or page.content['wvu-backpage-header-1__subhead'] != blank %}
            {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Title / Subhead</span>{% endif %}
            <p class="helvetica-neue-light h5">
              {% editable_region name: "wvu-backpage-header-1__subhead" scope: component.scope, type: "simple" %}
            </p>
          {% endif %}
        {% endif %}
        {% if edit_mode or page.content[rNames.quote] != blank %}
          {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Quote</span>{% endif %}
          <p class="iowan-old-style-black-italic h3 mt-3">
            {% editable_region name: rNames.quote scope: component.scope, type: "simple" %}
          </p>
        {% endif %}
        {% if edit_mode or page.content[rNames.main] != blank %}
          {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main</span>{% endif %}
          <div class="mt-3"> 
            {% editable_region name: rNames.main, scope: component.scope %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}

{% comment %}<!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. -->{% endcomment %}
{% render "includes/wvu-component-footer" component: component %}
