<!-- Component: blog-article -->
{%- define_component component %}
  {
    "baseName": "blog-article",
    "defaultComponentClasses": "",
    "defaultHeaderClasses": "",
    "mainTagClasses": ""
  }
{%- enddefine_component %}

{% capture component_content %}
  {% comment %}<!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb -->{% endcomment %}

  <article class="" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    {% if article.data.blog_article_has_hero == '1' %}
      {% render "components/wvu-blog-article-hero", component: component, article: article %}
    {% endif %}

    <div class="container">
      <div class="row py-5">
        <div class="col-sm-8 col-md-6 mx-auto">
          {% if article.data.blog_article_has_hero != '1' %}
            {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. -->{% endcomment %}

            <h1 class="display-4" id="{{ component.name }}-label" itemprop="headline">{{ article.name }}</h1>

            <p class="small d-block mb-4">
              <time datetime="{{ article.published_at | date_iso8601 }}">{{ article.published_at | date: '%A, %B %d, %Y' | default: 'Not yet published' }}</time>
            </p> {% comment %}<!-- /.wvu-article__meta -->{% endcomment %}
          {% endif %}
          <div itemprop="articleBody">
            {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
            {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main Content</span>{% endif %}
            {% comment %}<!-- Editable region for main content. -->{% endcomment %}
            {% editable_region_block name: component.region_names.main, scope: component.scope %}
              <p>Churning anomalies game plan. High performance keywords not enough bandwidth. Can
              we parallel path. Viral engagement great plan! let me diarize this, and we can
              synchronise ourselves at a later timepoint but are there any leftovers in the kitchen?
              driving the initiative forward.</p>
              <p>Build on a culture of contribution and inclusion that jerk from finance really threw
              me under the bus, so five-year strategic plan blue sky thinking, nor clear blue
              water ramp up upstream selling. Strategic staircase can we align on lunch orders.
              I don't want to drain the whole swamp, i just want to shoot some alligators meeting
              assassin we need distributors to evangelize the new line to local markets, nor
              cloud strategy but data-point, but back to the drawing-board.</p>
              <figure class="mt-4 mx-lg-n5">
                <img alt="Placeholder" src="https://via.placeholder.com/960x640">
              </figure>
              <figcaption class="mb-4">
              <p class="small d-block iowan-old-style">
                It's about managing expectations we need to socialize the comms with the wider stakeholder
                community.
              </p>
              </figcaption>
              <p>
              If you want to motivate these clowns, try less carrot and more stick net net and
              onward and upward, productize the deliverables and focus on the bottom line for
              it's not hard guys. Define the underlying principles that drive decisions and strategy
              for your design language pulling teeth, but game-plan this proposal is a win-win
              situation which will cause a stellar paradigm shift, and produce a multi-fold increase
              in deliverables low hanging fruit productize.
              </p>
              <blockquote class="iowan-old-style-black-italic h2 wvu-bar wvu-bar--center my-4 pb-1 text-center mx-lg-n5">We need to harvest synergy effects. To be inspired is to become creative, innovative
              and energized we want this philosophy to trickle down to all our stakeholders.
              <span class="d-block iowan-old-style text-uppercase wvu-letter-spacing h5 mt-2">Joe Schmoe</span>
              </blockquote>
              <p>It's a simple lift and shift job. Run it up the flagpole. Can we parallel path minimize
              backwards overflow proceduralize hard stop where the metal hits the meat or cloud
              strategy. Quick-win can you ballpark the cost per unit for me, nor get all your
              ducks in a row we're ahead of the curve on that one so meeting assassin, or we
              are running out of runway. Loop back. Golden goose land the plane and incentivization
              or pushback, and pushback this is meaningless yet drive awareness to increase engagement.</p>
            {% endeditable_region_block %}
          </div> {% comment %}<!-- /.wvu-article__body -->{% endcomment %}
        </div>
      </div>
    </div> {% comment %}<!-- /.container -->{% endcomment %}
  </article> {% comment %}<!-- /.wvu-article -->{% endcomment %}
  <aside style="background-color: #f8f9fa;" class="py-5 border-top border-light">
    <div class="container wvu-z-index-content">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="row">
            <div class="col-md-6">
              <h2 class="h3">Related Articles</h2>
              {% assign articles = article.blog.articles | filter_articles: limit: 5, tags: article.tags, exclude_ids: article.id %}
              {% if articles.size > 0 %}
                <ul clas="pl-2">
                  {% for article in articles.all %}
                    <li><a href="{{ article.url }}">{{ article.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div class="col-md-6">
              <h2 class="wvu-blog__sidebar-header h3">Archives</h2>
              {%- if article.blog.months_archive.size > 0 -%}
              <ul class="pl-2 wvu-blog-archive">
                {%- for entry in article.blog.months_archive -%}
                  <li><a href="{{ article.blog.path | append: '/' | append: entry[0] }}">{{ entry[0] | date: "%B %Y" }}</a> <span class="badge badge-wvu-neutral--dark-gray text-white">({{ entry[1] }})</span></li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside> {% comment %}<!-- /.wvu-sidebar -->{% endcomment %}
  {% comment %}<!-- Need comments for Blog Articles? See https://disqus.com -->{% endcomment %}
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
