---
layout: default
custom_data_attributes:
  - ifBackpageRemoveNav:
    type: checkbox
    title: If backpage, remove nav
  - ifBackpageRemoveSidebar:
    type: checkbox
    title: If backpage, remove sidebar
---

{% render "components/wvu-hero" number: 1, main: true %}

<nav aria-label="Secondary Nav for Parking Locations" class="bg-dark">

  <div class="container">
    <ul class='parking_subnav'>
      <li class="nav-item first"><a class="nav-link text-decoration-none" href="https://cleanslate.wvu.edu/sites/1509/pages/136042"  data-page-id="136042">Downtown</a></li>
      <li class="nav-item"><a class="nav-link text-decoration-none" href="https://cleanslate.wvu.edu/sites/1509/pages/134396"  data-page-id="134396">Evansdale</a></li>
      <li class="nav-item active"><a class="nav-link text-decoration-none" href="https://cleanslate.wvu.edu/sites/1509/pages/136043"  data-page-id="136043">Health Sciences</a></li>
    </ul>
  </div>

</nav>

{% render "components/wvu-featurettes" number: 1, limit: 2,  featurettesStyle: 'editable-regions' %}

{% render "components/wvu-action-hero-card-left" number: 1, align: left %}

{% render "components/wvu-social-media" number: 1, align: left %}
