---
layout: default
---

{% render "components/wvu-hero" number: 1, main: true %}

<nav aria-label="Employee Permits or Student Permits buttons" class="bg-dark mb-4">

    <div class="container">
      <ul class='parking_subnav'>
        <li class="nav-item first"><a class="nav-link text-decoration-none" href="https://cleanslate.wvu.edu/sites/1509/pages/134398"  data-page-id="134398">Employees</a></li>
        <li class="nav-item active"><a class="nav-link text-decoration-none" href="https://cleanslate.wvu.edu/sites/1509/pages/137258"  data-page-id="137258">Students</a></li>
      </ul>
    </div>
  
  </nav>


{% render "components/v2/wvu-backpage" number: 1 %}

{% render "components/wvu-action-hero" number: 1 %}

{% render "components/wvu-social-media" number: 1, align: left %}
