// Styles that enable secondary navigation tabs
.parking_subnav, .parking_subnav_tab{
  padding-left:0px;
  margin-bottom:-6px;
  display:inline-block;
  }
.parking_subnav li{
  list-style:none;
  float: left;
  padding-top:6px;
  }

.parking_subnav li.active{
  border-top: 6px solid $wvu-gold;
  padding-top:0px;
  }
.parking_subnav li a{
  text-decoration: none;
  color:white;
  padding:1rem 2rem;
  font-size: .8em;
  }
.parking_subnav li a.first{
  padding: 1rem 2rem 1rem 0rem;
    }
.parking_subnav li:hover{
  background-color: $wvu-gold;
  a{
    color:$wvu-blue;
    }
  }





.parking_subnav_tab li{
  text-decoration: none;
  float: left;
  }

.parking_subnav_tab li button{
  text-decoration: none;
  color:white;
  padding:1rem 2rem;
  font-size: 1em;
  border:none;
  background-color: transparent;
  margin-top:6px;
  }
.parking_subnav_tab li button.active{
  border-top: 6px solid $wvu-gold;
  margin-top:0px;
  }
.primary-tab{
  padding-left:0rem;
  }



// Styles that enable 2 column tables

.parking-permit-table{
  padding-left:0px;
  hr{
    margin-top:0px;
    margin-bottom:1rem;
    }
  li{
    display:grid;
    grid-template-columns: 8fr 2fr;
    }
  }


.grid {
  display: grid;
  gap: 1rem;
}

// Grid styles
.grid-two-column,.grid-two-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  }

// Grid styles
.grid-footer-two-column,.grid-footer-two-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
  }