{% define_component component %}
  {
    "baseName": "custom-contact-info",
    "needsARIALabel": true,
    "defaultComponentClasses": "",
    "mainTagClasses": null
  }
{% enddefine_component %}

{%- liquid
  assign addressEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: '__address'
  assign phoneEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: '__phone'
  assign formEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: '__form'
-%}

{% capture component_content %}
  <div class="container wvu-z-index-content py-5">
    <div class="row">
      <div class="col-md-6">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <p class="helvetica-neue-light h2 mb-3 pr-md-3">We just need to put these last issues to bed.</p>
        {% endeditable_region_block %}
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Address</span>{% endif %}
        {% editable_region_block name: addressEditableRegionName scope: component.scope %}
          <h2 class="h5 iowan-old-style-black">
            <span class="fas fa-map-marker-alt position-absolute"></span>
            <span class="pl-3 d-block">Find us at the office</span>
          </h2>
          <address class="pl-3">
            <small class="d-block">
              <strong>West Virginia University</strong>
              <br> 1345 Market St, Suite 900
              <br> Morgantown, WV 26505
              <br>
            </small>
          </address>
        {% endeditable_region_block %}
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Phone</span>{% endif %}
        {% editable_region_block name: phoneEditableRegionName scope: component.scope %}
          <h2 class="h5 iowan-old-style-black mt-3">
            <span class="fas fa-phone position-absolute"></span>
            <span class="pl-3 d-block">By phone or email</span>
          </h2>
          <address class="pl-3">
            <small class="d-block">
              <strong>West Virginia University</strong>
              <br> 1345 Market St, Suite 900
              <br> Morgantown, WV 26505
              <br>
            </small>
          </address>
        {% endeditable_region_block %}
      </div>
      <div class="col-md-6 bg-white text-wvu-neutral--black shadow-lg p-3">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Form</span>{% endif %}
        {% editable_region_block name: formEditableRegionName scope: component.scope %}
        
        <div id="wufoo-zgwur3j1v3ub8t"> Fill out my <a href="https://urwvu.wufoo.com/forms/zgwur3j1v3ub8t">online form</a>. </div> <script type="text/javascript"> var zgwur3j1v3ub8t; (function(d, t) { var s = d.createElement(t), options = { 'userName':'urwvu', 'formHash':'zgwur3j1v3ub8t', 'autoResize':true, 'height':'876', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { zgwur3j1v3ub8t = new WufooForm(); zgwur3j1v3ub8t.initialize(options); zgwur3j1v3ub8t.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>

        {% endeditable_region_block %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}

{% comment %}<!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. -->{% endcomment %}
{% render "includes/wvu-component-footer" component: component %}
